
NET "clk" LOC = "C9" | IOSTANDARD = LVCMOS33;
NET "clk" PERIOD = 20.0ns HIGH 40%;

NET "r" LOC = "H14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "g" LOC = "H15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "b" LOC = "G15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "hsync" LOC = "F15" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;
NET "vsync" LOC = "F14" | IOSTANDARD = LVTTL | DRIVE = 8 | SLEW = FAST;

NET "serialPortDataIn" LOC = "B4" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "reset"  LOC = "A4"  | IOSTANDARD = LVCMOS33  | SLEW = FAST  | DRIVE = 8;
NET "backwardsSerialPortDataOutNegated" LOC = "D5" | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

NET "displayModeSwitch" LOC = "N17" | IOSTANDARD = LVTTL | PULLUP ;

NET "keyboardPs2Clk" LOC = "G14" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "keyboardPs2Data" LOC = "G13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
